@model sporsalonu.Models.entity.etkinlik

@{
    ViewBag.Title = "EtkinlikGetir";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<style>
    body {
        background: -webkit-linear-gradient(left, #25c481, #25b7c4);
        background: linear-gradient(to right, #25c481, #25b7c4);
        font-family: 'Roboto', sans-serif;
    }

    .textboxlar {
        margin-left: 35%;
        width: 750px;
        border-radius: 8px;
        height: 40px;
        margin-top: 10px;
    }

    .labellar {
        margin-top: 100%;
        margin-left: 48%;
        font-size: 30px;
        color: black;
    }

    .button {
        width: 20%;
        margin-left: 43%;
        height: 60px;
        border-radius: 8px;
        background-color: #37ff20;
        color: #ff0000;
        font-size: 30px;
    }
</style>
@using (Html.BeginForm("Guncelle", "Etkinlik", FormMethod.Post))
{
    <div class="form-group">
        @Html.LabelFor(m => m.etkinlikid, new { @class = "labellar" })
        <br />
        @Html.TextBoxFor(m => m.etkinlikid, new { @class = "textboxlar" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.etkinlikadı, new { @class = "labellar" })
        <br />
        @Html.TextBoxFor(m => m.etkinlikadı, new { @class = "textboxlar" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.etkinliktürü, new { @class = "labellar" })
        <br />
        @Html.TextBoxFor(m => m.etkinliktürü, new { @class = "textboxlar" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.etkinlikhocası, new { @class = "labellar" })
        <br />
        @Html.TextBoxFor(m => m.etkinlikhocası, new { @class = "textboxlar" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.etkinliktarih, new { @class = "labellar" })
        <br />
        @Html.TextBoxFor(m => m.etkinliktarih, new { @class = "textboxlar" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.etkinlikkontejan, new { @class = "labellar" })
        <br />
        @Html.TextBoxFor(m => m.etkinlikkontejan, new { @class = "textboxlar" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.etkinlikaçıklama, new { @class = "labellar" })
        <br />
        @Html.TextBoxFor(m => m.etkinlikaçıklama, new { @class = "textboxlar" })
    </div>
    <div>

        <button class="button">Etkinlik Güncelle</button>
    </div>
}
